@import "tailwindcss";

body {
  background-size: cover;  
  background-image: url('/src/assets/images/vtb.jpg');
  background-position: center;
  background-color: #0a0a0f;
  background-attachment: fixed;
  min-height: 100vh;
}

@font-face {
  font-family: 'Mountain-King';
  src: url('./styles/font/MountainKingRegular-woBYn.ttf'), format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mountain-king: 'Mountain King', serif;
}