@import "tailwindcss";

body {
  background-size: cover;  
  background-image: url('/src/assets/images/vtb.jpg');
  background-position: center;
  background-color: #0a0a0f;
  background-attachment: fixed;
  min-height: 100vh;
}